In [68]:
import pandas as pd

#### Load our file into a dataframe

In [69]:
df = pd.read_csv(r'C:\Users\ukluk\Documents\netflix data\CONTENT_INTERACTION\ViewingActivity.csv')

#### .head() prints first 5 rows of spreadsheet

In [70]:
df.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,ukluke123,2022-04-23 22:59:54,00:24:36,Autoplayed: user action: User_Interaction;,"Fresh, Fried & Crispy: Season 1: St. Louis (Ep...",NaN,Samsung 2018 Kant-M2 UHD TV Smart TV,00:24:36,00:24:36,GB (United Kingdom)
1,ukluke123,2022-04-23 22:58:54,00:00:05,Autoplayed: user action: None;,Limited Series Informative Clip: Anatomy of a ...,HOOK,Samsung 2018 Kant-M2 UHD TV Smart TV,00:00:05,00:00:05,GB (United Kingdom)
2,ukluke123,2022-04-22 11:35:05,01:49:05,Autoplayed: user action: User_Interaction;,Justice League,NaN,Samsung 2015 Hawk-M UHD TV,01:49:05,01:49:05,GB (United Kingdom)
3,ukluke123,2022-04-19 18:45:36,00:01:31,NaN,Season 1 Trailer: Is It Cake?,TRAILER,Samsung 2015 Hawk-M UHD TV,00:01:31,00:01:31,GB (United Kingdom)
4,ukluke123,2022-04-19 18:44:14,00:01:19,NaN,Season 2 Trailer: Animal,TRAILER,Samsung 2015 Hawk-M UHD TV,00:01:19,00:01:19,GB (United Kingdom)

#### drop unncecesary collums axis=1 drops collum (axis=0 would drop index)

In [37]:
df = df.drop(["Profile Name", "Attributes", "Supplemental Video Type", "Device Type", "Bookmark", "Latest Bookmark", "Country"], axis=1)

In [38]:
df.head()

,Start Time,Duration,Title
0,2022-04-23 22:59:54,00:24:36,"Fresh, Fried & Crispy: Season 1: St. Louis (Ep..."
1,2022-04-23 22:58:54,00:00:05,Limited Series Informative Clip: Anatomy of a ...
2,2022-04-22 11:35:05,01:49:05,Justice League
3,2022-04-19 18:45:36,00:01:31,Season 1 Trailer: Is It Cake?
4,2022-04-19 18:44:14,00:01:19,Season 2 Trailer: Animal

In [26]:
df.shape

(5575, 3)

In [41]:
df.dtypes

Start Time    object
Duration      object
Title         object
dtype: object

### This shows that all datatypes are objects(strings). Need to convert to times

In [50]:
df["Start Time"] = pd.to_datetime(df["Start Time"], utc=True)

In [51]:
df.dtypes

Start Time    datetime64[ns, UTC]
Duration                   object
Title                      object
dtype: object

### duration isn't a specific time but rather an time delta, hence use the pandas function

In [53]:
df["Duration"] = pd.to_timedelta(df["Duration"])

In [54]:
df.dtypes

Start Time    datetime64[ns, UTC]
Duration          timedelta64[ns]
Title                      object
dtype: object

In [55]:
print(df["Title"].unique())

['Fresh, Fried & Crispy: Season 1: St. Louis (Episode 1)'
 'Limited Series Informative Clip: Anatomy of a Scandal' 'Justice League'
 ...
 'Star Trek: The Next Generation: Season 1: Where No One Has Gone Before (Episode 5)'
 'Star Trek: The Next Generation: Season 1: The Last Outpost (Episode 4)'
 'Star Trek: The Next Generation: Season 1: Code of Honor (Episode 3)']

# Practice analysis:

## Times spent watching Star Trek:The Next Generation

#### Title is unique for each episode of Star Trek:The Next Generation, so need to flilter out all values that contain the string "Star Trek:The Next Generation"

In [59]:
TNG = df[df["Title"].str.contains("Star Trek: The Next Generation", regex=False)]

#### Using .str.contains for to Title collumn filters out all the strings that contain the imputted words (regex=false tells function the argument is a string). We the assign this to a new df called TNG

In [61]:
TNG.head()

,Start Time,Duration,Title
102,2022-03-20 22:09:36+00:00,0 days 00:00:05,Star Trek: The Next Generation: Season 1_hook_...
231,2022-02-14 21:36:09+00:00,0 days 00:00:09,Star Trek: The Next Generation: Season 1_hook_...
2854,2020-11-27 22:52:07+00:00,0 days 00:08:28,Star Trek: The Next Generation: Season 7: The ...
2947,2020-11-21 13:01:48+00:00,0 days 00:33:45,Star Trek: The Next Generation: Season 7: Forc...
3194,2020-10-28 22:13:56+00:00,0 days 00:00:05,Star Trek: The Next Generation: Season 1_hook_...

#### Duration includes autoplays when browsing through Netflix, so we should filter these out (lets say anything < 1 min

In [65]:
TNG_filtered = TNG[(TNG["Duration"] > "0 days 00:01:00")]

In [66]:
TNG_filtered.head()

,Start Time,Duration,Title
2854,2020-11-27 22:52:07+00:00,0 days 00:08:28,Star Trek: The Next Generation: Season 7: The ...
2947,2020-11-21 13:01:48+00:00,0 days 00:33:45,Star Trek: The Next Generation: Season 7: Forc...
3195,2020-10-28 21:30:38+00:00,0 days 00:42:10,Star Trek: The Next Generation: Season 7: Dark...
3198,2020-10-27 23:54:33+00:00,0 days 00:42:22,Star Trek: The Next Generation: Season 7: Phan...
3199,2020-10-27 23:11:30+00:00,0 days 00:42:26,Star Trek: The Next Generation: Season 7: Liai...

#### Now we can sum up the duration collumn

In [67]:
TNG_filtered["Duration"].sum()

Timedelta('7 days 01:50:31')